/* You can add global styles to this file, and also import other style files */
.mdc-text-field--filled {
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay{
opacity: 0 !important;
}


mat-label{
color: black;
font-weight: 500;
}


:root {
--color-primary: #832215;
--color-secondary: #8C2E23;
--color-light: #ffffff;
--color-dark: #000000;
--color-grey: #808080;
--color-danger: #ff0000;
--color-disable-text : #7F7F7F;
--color-disable-bg : #cac7c1;

/* Borders */
--border-color: #ccc;
}
