/* You can add global styles to this file, and also import other style files */
.mdc-text-field--filled {
    background-color: white !important;
}

.mat-mdc-form-field-focus-overlay{
  opacity: 0 !important;
}


mat-label{
  color: black;
  font-weight: 500;
}
